[Desktop Entry]
Name=Scrum Poker
Comment=Scrum poker cards for agile planning
Exec=/usr/bin/qmlscene $@ /usr/share/scrum-poker/scrum-poker.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
